<h3><%= image_tag 'marvel.png' %></h3>
<h3>Wanna timetravel?</h3>

<a class="btn btn btn-primary" href="/users/ending4">
	What?
</a> 
<a class="btn btn btn-primary" href="/users/ending5">
	Yes, please!
</a> 