<h3>You chose Comedy!</h3>

<a class="bbtn btn btn-success" href="/users/comedy1">
	I'd like to see some hot chicks.
</a>
<a class="bbtn btn btn-success" href="/users/comedy2">
	Nahhh, I'm with loved-ones.
</a>