<h3>Hot chicks</h3>

<%= image_tag 'kate_upton.jpg' %>

<%= image_tag 'drew.jpg' %>
<br>
<br>
<a class="btn btn btn-success" href="/users/ending1">
	Drew Barrymore 'aint hot
</a>

<a class="btn btn btn-success" href="/users/ending9">
	Oh yes, she is!
</a> 