<h3>Hello <%= @user.full_name %>!</h3>
<p>Please tell us the genre that you feel like watching now.</p>

<a class="btn btn btn-success" href="/users/comedy">
	Comedy
</a> 
<a class="btn btn btn-primary" href="/users/action">
	Action
</a> 
<a class="btn btn btn-warning" href="/users/sci_fi">
	Sci-Fi
</a> 
<a class="btn btn btn-info" href="/users/drama">
	Drama
</a> 
<a class="btn btn btn-danger" href="/users/romance">
	Romance
</a> 